mixin listEvents(event)
  .event(data-ks-editable=editable(user, { list: 'Event', id: event.id }))
    h2: a(href='/events/' + event.slug)= event.name
    
mixin listProjects(project)
  .media
    .media-left.media-middle
      a(href="/projects/"+project.slug)
        if project.main
          img.media-object(src=project.main.heroImage.url, alt='' style='max-height: 128px')
        else
          img.media-object(src='/favicon.ico', alt='' style='max-height: 128px')
    .media-body
      a(href="/projects/"+project.slug)
        h3= project.name
        p= project.preview
    .media-right.media-top(data-ks-editable=editable(user, { list: 'Project', id: project.id }))
      h3= project.status
