mixin p(html)
  - var preview = html
  p !{preview}
  
mixin h1(html)
  - var preview = html
  h1 !{preview}
  
mixin h2(html)
  - var preview = html
  h2 !{preview}
  
mixin h3(html)
  - var preview = html
  h3 !{preview}
  
mixin h4(html)
  - var preview = html
  h4 !{preview}
  
mixin h5(html)
  - var preview = html
  h5 !{preview}
  
mixin h6(html)
  - var preview = html
  h6 !{preview}
